<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}" {{ end }}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ $scratch := newScratch }}
    {{ $scratch.Set "baseURL" .Site.BaseURL }}

    <title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>

    <link rel="stylesheet" href="{{ $scratch.Get "baseURL" }}/css/styles.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ $scratch.Get "baseURL" }}/js/hj-v9.18.1/styles/zenburn.css">
    <script src="{{ $scratch.Get "baseURL" }}/js/hj-v9.18.1/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />
    <script type="text/javascript" src="{{ $scratch.Get "baseURL" }}/js/jssocials.js"></script>

    {{ .Scratch.Delete "baseURL" }}